<div
  class="flex flex-col w-full min-h-[150px] overflow-hidden bg-neutral-900 border border-zinc-800 rounded-xl shadow-inner"
>
  @if (text && text.trim().length > 0) {
    <div
      class="flex items-center justify-between gap-3 px-4 py-3 border-b border-zinc-800 shrink-0"
    >
      <h4 class="font-semibold text-tomato-100">Text</h4>
      <app-copy-button [textToCopy]="text" />
    </div>
    <div class="flex-1 min-h-0 px-4 py-3 overflow-auto text-sm">
      <pre class="break-all whitespace-pre-wrap">{{ text }}</pre>
    </div>
  } @else {
    <div class="flex items-center justify-center flex-1 min-h-0 p-4">
      <p class="font-mono text-sm text-slate-500">No results yet</p>
    </div>
  }
</div>
