<nav class="fixed top-0 left-0 z-50 w-full shadow-sm bg-brand-950">
  <div class="flex items-center justify-between px-6 py-4 mx-auto max-w-7xl">
    <!-- Logo -->
    <a
      class="flex items-center gap-3 hover:text-brand-400"
      href="/"
      (click)="closeMenu()"
    >
      <span
        class="font-mono text-3xl font-bold text-brand-500 [text-shadow:0_0_2px_theme(colors.brand.400)]"
      >
        Oc
      </span>

      <img src="logo.png" alt="logo" class="w-12 h-12 -m-4" />

      <span
        class="font-mono text-3xl font-bold text-tomato-500 [text-shadow:0_0_2px_theme(colors.tomato.400)]"
      >
        Tool
      </span>
    </a>

    <!-- Botón hamburguesa -->
    <button
      class="text-3xl md:hidden text-slate-10 focus:outline-none"
      (click)="toggleMenu()"
    >
      <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
    </button>

    <!-- Menú -->
    <ul
      [ngClass]="{
        'flex flex-col absolute top-[72px] left-0 w-full bg-zinc-800 px-6 py-4 shadow-md md:static md:flex-row md:shadow-none md:gap-6':
          isMenuOpen,
        'hidden md:flex md:flex-row md:gap-6':
          !isMenuOpen
      }"
      class="z-40 text-base font-semibold transition-all duration-300 ease-in-out text-slate-100"
    >
      @for (category of categories; track category.key) {
      <li class="relative group">
        <button class="flex items-center gap-1 nav-link">
          {{ category.title }} <i class="text-xs fas fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu">
          @for (link of category.links; track link.url) {
          <li>
            <a
              class="dropdown-item"
              [href]="link.url"
              target="_blank"
              rel="noopener noreferrer"
              (click)="closeMenu()"
              >{{ link.label }}</a
            >
          </li>
          }
        </ul>
      </li>
      }
    </ul>
  </div>
</nav>
