<button
  (click)="copyText()"
  class="flex items-center gap-1 px-4 py-2 text-sm font-semibold transition border rounded-lg text-posthog-orange bg-posthog-orange/10 hover:bg-posthog-orange/20 border-posthog-orange/30"
>
  @if (!copied()) {
    <span
      ><fa-icon [icon]="['fas', 'copy']" class="w-4 h-4 text-posthog-orange"></fa-icon> Copy</span
    >
  } @else {
    <span
      ><fa-icon [icon]="['fas', 'check']" class="w-4 h-4 text-posthog-orange"></fa-icon>
      Copied</span
    >
  }
</button>
