<nav class="fixed top-0 left-0 z-50 w-full shadow-sm bg-brand-950 border-b border-zinc-800">
  <div class="flex items-center justify-between px-6 py-4 mx-auto max-w-7xl">
    <a class="flex items-center gap-3 hover:text-brand-400" href="/">
      <span class="font-mono text-2xl font-bold text-brand-500">CALCULATOR</span>
      <img src="logo.png" alt="logo" class="w-10 h-10 -m-3" />
      <span class="font-mono text-2xl font-bold text-tomato-500">Tools</span>
    </a>
    <a href="/" class="px-3 py-1.5 text-sm text-zinc-400 hover:text-brand-400 transition"><app-icon name="grid" class="w-4 h-4 text-brand-500"></app-icon> All Tools</a>
  </div>
</nav>